.section-dowland{
    padding: 50px 15px;
    border-bottom:1px solid #133b5c;;
    &__container{
        max-width: 580px;
        margin: 0 auto;
        min-height: 200px;
    }
    &__text{
        margin: 0 auto 20px;
        max-width: 235px;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        
    }
    &__block{
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        max-width: 600px;
        @media (max-width:$md+px) {
            flex-direction: column;
        }
    }
    &__btn{
        width: 100%;
        max-width: 270px;
        cursor: pointer;
        img{
            display: block;
            max-width: 100%;
            height: 90px;
            @media (max-width:$ssm+px) {
                
                
            }
        }
        @media (max-width:$md+px) {
            margin:0 auto 20px;
            
        }
    }
}
