.section-header{
    padding-top:4%  ;
    padding-bottom: 5%;
    background: url(/img/header/back.png);
     background-position:center top;
    background-repeat:no-repeat;
    background-size: cover;
   position: relative;
    &__content{
        margin: 150px auto ;
        text-align: center;
        padding: 0 15px;  
    }
    &__title{
        text-align: center;
        max-width: 770px;
        font-size: 72px;
        margin:  0 auto 45px;
        font-weight: bold;
        line-height: 88 / 72 * 100%;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        
    }
    &__subtitle{
        letter-spacing: 0.055em;
        font-size:16px;
        font-weight: 600;
    }
    &__botom{
        position: absolute;
        bottom: -0;
        width: 100%;
        height: 100px;
         background: linear-gradient(bottom,#222831 20%,transparent);
        z-index: 100;
    }
}
.section-header::before{
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    
}

.navbar{
    
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 15px;
    align-items: center;
    position: relative;
    
    &__links{
        display: flex;
        max-width: 500px;
        justify-content: space-between;
        width: 100%;
        text-transform:capitalize ;
        @media (max-width:$lg+px) {
            position: absolute;
            max-width: 100px;
            flex-direction: column;
            top:0;
            left: 40%;
            transition: all .5s ease;
            transform-origin:top;
            transform: scaleY(0) ;
            
            li{
                
                border: blanchedalmond 1px solid;
                max-width: 100%;
                padding: 10px 10px;
                background-color:#1F4AA8;
            }
        }
        li{
            
            transition: all .2s ease;
            font-size: 18px;
            line-height: 22 / 18 * 100%;
            transition: all .2s ease;
            max-width: 50px;
            display: inline-block;
            transition: all .2s ease;
            
        }
        li:hover{
            transition: all .2s ease;
             transform: scale(1.1);
            font-weight: bold;
            
        }
        
        
    }
    &__logo{
      display: inline-block;
    }
    &__btn{
        
        max-width: 160px;

    }
    &__btn:active{
        transition: all .5s ease;
        transform: scale(.9);
        background: crimson;
        color: darkkhaki;
    }
 }
 @media (max-width:$lg+px) {
    ._active-links{
        transform: scaleY(1) ;
    }
 }
 