.section-message{
    padding-bottom: 50px;
    
}
.section-message *{
    color: black;
}
.message-body{
    position: relative;
    max-width: 1260px;
    background-color:ghostwhite;
    width: 100%;
    border-radius: 30px;
    margin: -100px auto 0 auto;
    padding: 25px 40px;
    z-index: 150;
   
    &__item{
        margin-bottom: 20px;
        
    }
    &__item:last-child{
        margin-bottom: 0;
        
    }
    &__btn{
        
        display: block;
        padding: 20px 15px ;
        margin: 0 auto;
        max-width: 220px;
        color: white;
    }
    &__wrraper-input{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 360px;
        height: 50px;
        border: 1px solid black;
        border-radius: 5px;
        padding: 0 10px 0 0;
        @media (max-width:$sm+px) {
            
            max-width: 100%;
            overflow: hidden;
            input{
                max-width: 100%;
                flex: 0 0 80%;
            }
        }
        input{
           flex: 0 0 80%;
            border: none;
            color: black;
            padding: 5px;
            background-color: #f8f8ff;
            outline: none;
            
        }
        
    }
    &__logo{
        max-width: 20%;
        flex: 1 0 15%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        @media (max-width:$sm+px) {
                padding: 0 10px;
                flex: 1 0 45%;
            }
        
    }
    &__arroy{
         border: 1px solid black;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        margin: 0 10px;
        background-image: url(/img/logo/btn_array.png);
        background-repeat: no-repeat;
        background-position: center center;
    }
    &__data{
        max-width: 180px;
        width: 100%;
        height: 50px;
        border: 1px solid black;
        margin: 0 7px;
        border-radius: 5px;
    }

}

.data{
    position: relative;
    &__logo{
        display: inline-block;
        width: 100%;
        max-width: 20%;
        padding: 0 30px;
        height: 100%;
        background-image: url(/img/logo/calendar.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }
    &__title{
        position: absolute;
        top: 10%;
        left: 30%;
        color: black;
        font-size: 11px;
    }
    &__subtitle{
        position: absolute;
        top: 50%;
        left: 30%;
        max-width: 40px;
        height: 20px; 
    }
}
.navbar-mess{
    border-bottom:1px solid #888AA2 ;
    padding-bottom: 20px;
    margin-bottom: 30px;
    @media (max-width:$sm+px) {
        &__links{
            flex-direction: column;
            margin: 0 auto;
            
        }
        &__link{
            margin-bottom: 20px;
            text-align: center;

        }
        &__link::before{
            left: 0;
            bottom: -10px;
        }
    }
    &__links{
        display: flex;
        max-width: 430px;
        justify-content: space-between;
       
        
        
    }
    &__link{
        display: block;
        position: relative;
        text-transform:capitalize;
        a{
            cursor: pointer;
            color:#888AA2;
            font-size: 14px;
            font-family: Montserrat;
            font-weight: 500;
            
        }
        a:hover{
            color: #1F4AA8;
            
        }
    }
   
    
    &__link::before{
        transform: scale(0);
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background: #1F4AA8;
        bottom: -22px;
        transition: all 0.4s ease;
       
    }
    &__link:hover::before{
        transform: scale(1.1);
        transition: all 0.4s ease;
        background: #1F4AA8;
        

    }
    
    
}

.chexbox{
    @media (max-width:$md+px) {
        &__label{
            margin-bottom: 10px;
            margin-right: 10px;
        }
    }
    @media (max-width:$sm+px) {
        max-width: 120px;
    }
    &__label{
        
        max-width: 120px;
        position: relative;
        display: inline-block;
        color: black;
        margin-right: 30px;
        font-size: 14px;
        padding-left: 20px;
        input{
            
         visibility: hidden;
        }
        
    }
    &__label::before{
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        border: 3px solid #1F4AA8;
        border-radius: 10px;
        left: 0;
        top: -2px;
        
        
    }
    &__label input:checked + div{
        visibility: visible;
    }
  
    &__checked{
        position: absolute;
        width: 11px;
        height: 11px;
        background-color: #1F4AA8;
        top: 18%;
        left: 5px;
        border-radius: 10px;
         visibility: hidden;
    }
    
    

       } 
       
.travel{
    display: flex;
    max-width: 330px;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width:$sm+px) {
        overflow: hidden;
        flex-direction: column;
        
        &-item{
            min-width:100%;
            margin-bottom: 10px;
            margin-right:0 ;
        }
        &-item::before{
            right: 10px;
        }
    }
    &-item{
        
        position: relative;
        color: #1F4AA8;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        padding-right: 20px;
        margin-right: 25px;
        cursor: pointer;
       }
       &-item::before{
           content: "^";
           display: block;
           position: absolute;
           right: -5px;
           transform: rotate(180deg);
           transition: all .3s ease;
       }
       &-item:active{
        color: cornflowerblue;
        transition: all .3s ease;
        &:before{
            
            transition: all .3s ease;
            transform: rotate(0);
       }
       
    }
    //    &-item:last-child{
    //     margin-right: 20px;
    //    }
       

    
}  




._top{
    display: flex;
    justify-content: space-between;
   
}

._center{
    display: flex;
    align-items: center;
    @media (max-width:$lg+px) {
        flex-direction: column;
        *{
            margin-bottom: 10px;
        }
    }

}

.logo{
    &-from{
        background-image: url(/img/logo/fly_from.svg);
       
    }
    &-to{
        background-image: url(/img/logo/fly_to.svg);
    }
}

