*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: montserrat;
   
}
body{
    background-color: #222831;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container-inner{
    margin: 0 auto;
    max-width: 1260px;
   

}
.inner-head{
    z-index: 5;
    position: relative;
}


.btn{
        
    
    background-color:#1F4AA8;
    border-radius: 40px;
    text-align: center;
    padding:14px 40px;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    text-transform: capitalize;
     transition: all .3s ease;
    cursor: pointer;
}
.btn:active{
    transition: all .5s ease;
    transform: scale(.9);
    background: crimson;
    color: darkkhaki;
}